[submodule "dbg-wb"]
	path = dbg-wb
	url = https://github.com/QueenField/MPSoC-WB-DBG.git
[submodule "dma-wb"]
	path = dma-wb
	url = https://github.com/QueenField/MPSoC-WB-DMA.git
[submodule "mpi-wb"]
	path = mpi-wb
	url = https://github.com/QueenField/MPSoC-WB-MPI.git
[submodule "noc"]
	path = noc
	url = https://github.com/QueenField/MPSoC-NoC.git
[submodule "pu-wb"]
	path = pu-wb
	url = https://github.com/QueenField/PU-WB-OR1K.git
